html body {
    padding: 0px;
    margin: 0px;
}

/* *********
  HEADER
********* */
/* image */
header .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: none;
}

header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* navigation */
nav {
    background-color: black;
    border-top: 5px solid orange;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
}

nav ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

nav ul img {
    width: 90%;
}

#imageLi {
    width: 120px;
    margin-right: -10px;
}

#nom_table {
    display: flex;
    justify-content: space-between;
}

#nom_table ul:first-child li {
    margin: 0 10px;
}

#nom_table ul {
    width: auto;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coucou {
    width: 60%;
}

.test {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

/* formulaire */
fieldset {
    margin: 20px 0px;
}

.form {
    display: flex;
    justify-content: center;
}

form div label {
    width: 150px;
    margin-right: 20px;
    margin-bottom: 5px;
}

form input[type='submit'] {
    align-self: center;
    margin-top: 50px;
    width: 15%;
}

form input[type='radio'] {
    margin-right: 20px;
}

/* fin formulaire */
.salut {
    display: none;
}

.selected {
    background-color: orange;
    color: black;
}

nav li {
    width: auto;
    margin: 0px 1%;
    list-style: none;
}

.active {
    background: orange;
    color: black;
}

nav a {
    color: orange;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav a:hover {
    color: black;
    background-color: orange;
}

.modifTable {
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modifTable :nth-child(n+2) {
    font-size: 1.2em;
    position: absolute;
    display: block;
    right: 0px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.modifTable :nth-child(n+2):hover {
    transform: scale(1.2);
}

.modifRed {
    background-color: red;
    bottom: 0px;
}

.modifGreen {
    background-color: green;
}

#pays {
    margin-left: 20px;
}

.labelBdd {
    margin-left: 50px;
    width: auto;
}

/* *********
  CARROUSSEL
********* */
#caroussel {
    position: relative;
    background-color: grey;
}

.carroussel {
    overflow: hidden;
    margin: auto;
    position: relative;
    width: 70%;
}

.carroussel__container {
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
    display: flex;
}

/* .carroussel__container::after {
  content: "";
  clear: both;
  display: table;
} */
.carroussel__item {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px;
    margin: 2%;
    padding: 10px;
    transition: transform 0.3s;
}

.carroussel__item:hover {
    transform: scale(1.1);
}

.carroussel__item img {
    width: 100%;
}

.carroussel__item h4 {
    font-size: 0.85em;
    align-self: center;
}

.carroussel__item p {
    margin: 0;
    max-height: 150px;
    overflow: hidden;
    font-size: 0.7em;
    padding: 0;
}

.redirection {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* .lireplus {
  align-self: end;
} */
/* .transparent {
  position: absolute;
  width: 100%;
  background-color: white;
  opacity: 0.90;
  bottom: 2em;
  right:0px;
  height: 2em;
}
.transparent2 {
  position: absolute;
  width: 100%;
  background-color: white;
  opacity: 0.95;
  bottom: 0em;
  right: 0px;
  height: 2em;
} */
#caroussel__prev, #carroussel__next {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white url(../Images/suivant.png) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    opacity: 0.7;
    transition: transform 0.3s;
}

#caroussel__prev:hover, #carroussel__next:hover {
    transform: scale(1.2);
    opacity: 1;
}

#carroussel__next {
    right: 1%;
}

#caroussel__prev {
    background-image: url(../Images/precedent.png);
    left: 1%;
}

/* *********
    billet
  ********* */
.billet {
    width: 100%;
    background-color: orange;
}

.rencontre {
    width: 100%;
    background-color: white;
}

/* *********
  billet
********* */
.formulaire {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formcontour form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcontour p {
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
    padding-bottom: 0;
}

input[type=submit] {
    border: none;
    margin-top: 20px;
    background-color: orange;
    padding: 5px;
    color: black;
    cursor: pointer;
}

.login input {
    background-color: orange;
    border-radius: 0px;
    border: none;
    padding: 10px;
    color: black;
}

button[type=submit] {
    transition: transform 0.3s;
    opacity: 0.8;
    border-radius: 2px;
    border: none;
    margin: 5px 0;
    padding: 7px;
    cursor: pointer;
    min-width: 90px;
    -webkit-transform: scale(1);
}

button[type=submit]:hover {
    transform: scale(1.1);
    opacity: 1;
}

button[name=supprimer] {
    background-color: red;
    color: white;
}

button[name=ajouter] {
    background-color: green;
    color: white;
}

button[name=modifier] {
    background-color: blue;
    color: white;
}

.bordure {
    display: flex;
    align-self: center;
    width: 80%;
    border-bottom: 1px solid black;
    opacity: 0.5;
    margin: 5px 10%;
}

.contenu_all {
    display: flex;
    margin: auto;
    padding: 0 2%;
    flex-direction: column;
    width: 90%;
}

.titre, .contenu_table {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.gauche form {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

.droite {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.droite p {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.pres_admin {
    align-self: center;
}

/* *********
    Pied de page
  ********* */
footer {
    width: 100%;
    height: 150px;
    background-color: black;
}
